.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1348px;
  mat-form-field {
    width: 100%;
  }
}

.action {
  display: flex;
  gap: 5px;
}

.mat-table {
  width: 100%; 
}

.table-container {
  overflow: auto; 
  max-height: 400px;  // Modified height according your need , right now 400px only 
}

